.editor {
  flex: 1;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.editor :global(.cm-editor) {
  height: 100%;
  font-size: 1rem;
}

.editor :global(.cm-scroller) {
  height: 100%;
  min-height: 0;
}

.editor :global(.cm-content) {
  tab-size: 4;
}

.autoHeight {
  height: auto;
  overflow: visible;
}

.autoHeight :global(.cm-editor) {
  height: auto;
}

.autoHeight :global(.cm-scroller) {
  height: auto;
  min-height: 0;
}
